.w-active-bullet {
    width: 30px !important;
    height: 8px !important;
    border-radius: 20px !important;
    opacity: 1 !important;
    background: #ffffff !important;
    
}

.w-bullet {
    width: 8px;
    height: 8px;
    @apply bg-rgba-grey-06;
    border-radius: 20px !important;
    display: inline-block;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);

}