.hero-bg {
  
  background: url('./../../assets/images/landing/bg.png');
  @apply bg-cover bg-center md:mt-[80px];
  .player {
    @apply h-[356px] md:max-h-[744px] md:h-[100%];
  }
}

.header-img {
  position: absolute;
  width: 100vw;


  span {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    inset: 0px;
  }
}

.hero-bg-secondary {
  
  @apply  md:mt-[80px];
  .player {
    @apply h-[356px] md:max-h-[744px] md:h-[100%];
  }
}
.gradient-cover {
  //background: linear-gradient(180deg, rgb(0 2 8) 0%, rgba(0, 0, 0, 0) 20%)
}

.text-gradient {
  background: linear-gradient(90.19deg, #22C2CC,#C900FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
}

.left-player {
  background: url('./../../assets/images/landing/footballer-left-bg.png?webp') no-repeat;
  @apply bg-contain bg-left;
}

.right-player {
  background: url('./../../assets/images/landing/footballer-right-bg.png?webp') no-repeat;
  @apply bg-contain bg-right;

}
.functions-section {
  background: url('./../../assets/images/landing/functions-bg.png?webp') no-repeat;
  @apply bg-bottom bg-contain lg:bg-right	 lg:bg-cover;
}

.fans-section {
  background: url('./../../assets/images/landing/fans-bg.png?webp') no-repeat;
  @apply bg-cover; 
}

.signup-section {
 // background: url('./../../assets/images/landing/fans-bg.png') no-repeat;
  @apply bg-cover; 
}

.words {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  width: 100%;
  b {
      visibility: hidden;
  }

  &::before {
      content: none !important;
  }

  div {
      //animation: topToBottom 10s linear infinite 0s;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      

      &:before {
          content: "";
          height: 8px;
          width: 100%;
          position: absolute;
          bottom: 7px;
        
          z-index: -1;
      }

    /* 
      &:nth-child(2) {
        -webkit-animation-delay: 0s !important;
        animation-delay: 0s !important;
    }
    &:nth-child(3) {
        -webkit-animation-delay: 3.3s !important;
        animation-delay: 3.3s !important;
    }
    &:nth-child(4) {
        -webkit-animation-delay: 6.6s !important;
        animation-delay: 6.6s !important;
    }*/
  }
}


.item-1, 
.item-2, 
.item-3 {
  position: absolute;
  margin: 0;

  animation-duration: 6s;
  
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item-1{
  animation-name: anim-1;
}

.item-2{
  animation-name: anim-2;
}

.item-3{
  animation-name: anim-3;
}

@keyframes anim-1 {
  0%, 5% { top: -50%; opacity: 0; }
  5%,25% { top: 0%; opacity: 1; }
  33.33%, 100% { top: 50%; opacity: 0; }
}

@keyframes anim-2 {
  0%, 33.33% { top: -50%; opacity: 0; }
  38.33%, 58.29% { top: 0%; opacity: 1; }
  66.66%, 100% { top: 50%; opacity: 0; }
}

@keyframes anim-3 {
  0%, 66.66% { top: -50%; opacity: 0; }
  71.66%, 91.62% { top: 0%; opacity: 1; }
  100% { top: 50%; opacity: 0; }
}

@media only screen and (min-width: 1024px) and (max-width: 1300px)  {

  .liga-box {
    padding-top: 130px;
  }
  .coming-text>div {
    font-size: 40px !important;
    line-height: 50px !important;
  }
  
}

@media only screen and  (max-width: 1680px)  {

  .macbook-holder {
    position: initial !important;
    flex: 1 !important;
  }
}

.subscribe-block {
  background: url('./../../assets/images/landing/sub-top.png?webp') no-repeat;
  @apply bg-contain bg-top;

}


@-webkit-keyframes topToBottom {
  0% {
      opacity: 0;
  }
  3% {
      opacity: 0;
      transform: translateY(-50px);
  }
  6% {
      opacity: 1;
      transform: translateY(0px);
  }
  25% {
      opacity: 1;
      transform: translateY(0px);
  }
  28% {
      opacity: 0;
      transform: translateY(50px);
  }
  80% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}
