.side-menubar {
 @apply bg-rgba-grey-03 border-[1px] border-rgba-grey-01 w-full h-full ;
}

.side-menubar .token-block {
  @apply w-full py-[15px] flex items-center text-center mt-[15px] text-lg;
  background: linear-gradient(92.47deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.05) 100%);
}

.side-menubar .token-block span {
  @apply font-bold;
}

.menu-item{
  @apply rounded-md flex flex-row justify-center items-center cursor-pointer flex flex-col text-rgba-grey;
}

.menu-item-disabled {
  @apply rounded-md flex flex-row justify-center items-center flex flex-col text-rgba-grey-003;
}

.menu-item:hover, .menu-item.active {
  @apply text-white;
  background: linear-gradient(123.16deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  backdrop-filter: blur(9.8px);
}


.gradient-icon {
  background: -webkit-linear-gradient(309deg, #22C2CC 19.79%, #C900FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-item:hover span,.menu-item.active span {
  @apply  gradient-icon;
}