.sportcard {
  height: 280px;
}

.sportcard-background {
  height: 280px;
  @apply rounded-[6px] h-[426px] md:h-[280px];
}

.sportcard-background-large {
  height: 280px;
  @apply rounded-[6px] h-full md:h-[280px];
}

.sportcard .blue-scheme {
  color: white;
  background: linear-gradient(135deg, #22C2CC 5.2%, #C900FF 100%);
}

.sportcard .green-scheme {
  background: linear-gradient(135deg, #CCFF02 5.2%, #00FFE0 100%);
}

.sportcard .yellow-scheme {
  background: linear-gradient(135deg, #d1bc01 5.2%, #0b0812 100%);
}

.sportcard .orange-scheme {
  background: linear-gradient(135deg, #cb4122 5.2%, #0b0812 100%);
}

.sportcard .purple-scheme {
  background: linear-gradient(135deg, #0395e9 5.2%, #950000 100%);
}

.sportcard .red-scheme {
  background: linear-gradient(135deg, #cd0000 5.2%, #0b0812 100%);
}

























.w7-sportcard {
  border-radius: 6px;
  position: relative;
  /* height: 259px */
  font-family: 'Poppins';
}

.w7-sportcard--fade {
  background: linear-gradient(180deg, rgba(0, 0, 18, 0) 0%, rgba(0, 0, 18, 0.8) 100%);
  border-radius: 6px;
  width: 100%;
  height: 60%;
  z-index: 99;
  position: absolute;
  bottom: 0px;
}

.w7-sportcard--fade-secondary {
  background: linear-gradient(90deg, rgba(0, 0, 18, 0) 0%, rgba(0, 0, 18, 0.6) 100%);
  border-radius: 6px;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
}

.w7-sportcard--small .w7-sportcard-background {
  max-width: 480px;
  width: 100%;
  height: 259px;
  border-radius: 6px;
  position: absolute;
  bottom: 0px;
}

.w7-sportcard--large {
  height: 280px;
    width: 100%;
  max-width: 100% !important;
}

.w7-sportcard--large .w7-sportcard-background {
  max-width: 100%;
  width: 100%;
  height: 280px;
  border-radius: 6px;
  position: absolute;
  bottom: 0px;
}

.w7-sportcard-image-holder {
  position: absolute;
  bottom: 0;
  z-index: 11;
}

.w7-sportcard-image-holder img {
  max-width: 100%;
}
/*
.w7-sportcard--primary .w7-sportcard-background {
  color: white;
  background: linear-gradient(135deg, #22C2CC 5.2%, #C900FF 100%);
}

.w7-sportcard--secondary .w7-sportcard-background {
  background: linear-gradient(135deg, #CCFF02 5.2%, #00FFE0 100%);
}
*/
.w7-sportcard .blue-scheme {
  color: white;
  background: linear-gradient(135deg, #22C2CC 5.2%, #C900FF 100%);
}

.w7-sportcard .green-scheme {
  background: linear-gradient(135deg, #CCFF02 5.2%, #00FFE0 100%);
}

.w7-sportcard .yellow-scheme {
  background: linear-gradient(135deg, #d1bc01 5.2%, #0b0812 100%);
}

.w7-sportcard .orange-scheme {
  background: linear-gradient(135deg, #cb4122 5.2%, #0b0812 100%);
}

.w7-sportcard .purple-scheme {
  background: linear-gradient(135deg, #0395e9 5.2%, #3b142a 100%);
}

.w7-sportcard .red-scheme {
  background: linear-gradient(135deg, #cd0000 5.2%, #0b0812 100%);
}

.w7-sportcard--small {
  max-width: 480px;
  width: 100%;
  height: 280px;

}

.w7-sportcard-teams,
.w7-sportcard-players {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  z-index: 100;
  color: #ffffff;
}

.w7-sportcard-teams>div {
  flex: 1;
}

.w7-sportcard-teams>div:nth-child(2),
.w7-sportcard-players>div:nth-child(2) {
  justify-content: end;
  padding-right: 15px;
}

.w7-sportcard-teams>div:first-child,
.w7-sportcard-players>div:first-child {
  padding-left: 15px;
}

.w7-sportcard-teams-item-logo.first {
  margin-right: 6px;
}

.w7-sportcard-teams-item-logo.second {
  margin-left: 6px;
}

.w7-sportcard-teams-item,
.w7-sportcard-players-item {
  display: flex;
}

.w7-sportcard-teams-item-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.w7-sportcard-teams-item-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.w7-sportcard--large {
  max-width: 100%;
  width: 100%;
  height: 280px;
}

.w7-sportcard-event {
  position: absolute;
  z-index: 101;
  display: flex;
  top: 40px;
  right: 20px;
}

.w7-sportcard-event-logo {
  margin-right: 15px;
}

.w7-sportcard-event-datas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  line-height: 25px;
}

.w7-sportcard-event-datas>div:first-child {
  font-weight: 600;
  font-size: 16px;
}

.w7-sportcard-event-datas>div:nth-child(2) {
  font-weight: 300;
  font-size: 20px;
}

.w7-sportcard-sum {
  position: absolute;
  z-index: 101;
  display: flex;
  flex-direction: column;
  bottom: 100px;
  right: 36px;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}

.w7-sportcard-players-item {
  flex: 1;
  flex-direction: column;
}

.w7-sportcard-players-item:nth-child(2) {
  text-align: right;
}

.w7-sportcard-players-item {
  line-height: 22px;
}

.w7-sportcard-players-item-first-name {
  font-weight: 300;
  font-size: 14px;
}

.w7-sportcard-players-item-last-name {
  font-weight: 500;
  font-size: 24px;
}

/* Large cards */
.w7-sportcard-large-content {
  position: absolute;
  z-index: 101;
  right: 20px;
  top: 50px;
  width: 400px;
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.w7-sportcard-large-content-event-logo {
  margin-right: 15px;
  display: flex;
  justify-content: center;
}

.w7-sportcard-large-content-event-datas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  line-height: 24px;
  margin-top: 20px;
}

.w7-sportcard-large-content-event-datas>div:first-child {
  font-weight: 600;
  font-size: 16px;
}

.w7-sportcard-large-content-event-datas>div:nth-child(2) {
  font-weight: 300;
  font-size: 24px;
}

.w7-sportcard-large-content-sum {
  display: flex;
  flex-direction: column;
  bottom: 100px;
  right: 36px;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 50px;
}

.w7-sportcard-large-content-sum>div {
  display: flex;
  justify-content: center;
}

.w7-sportcard-large-content-teams,
.w7-sportcard-large-content-players {
  width: 100%;
  display: flex;
  z-index: 100;
  color: #ffffff;
  margin-top: 70px;
}

.w7-sportcard-large-content-players {
  margin-top: 50px;
}

.w7-sportcard-large-teams>div {
  flex: 1;
}

.w7-sportcard-large-teams>div:nth-child(2),
.w7-sportcard-players>div:nth-child(2) {
  justify-content: end;
  padding-right: 15px;
}

.w7-sportcard-large-teams>div:first-child,
.w7-sportcard-players>div:first-child {
  padding-left: 15px;
  text-align: left;
}

.w7-sportcard-large-teams-item {
  font-size: 20px;
}

.w7-sportcard-large-teams-item-logo.first {
  margin-right: 6px;
}

.w7-sportcard-large-teams-item-logo {}

.w7-sportcard-large-teams-item-logo.second {
  margin-left: 6px;
}

.w7-sportcard-large-teams-item,
.w7-sportcard-large-players-item {
  display: flex;
  flex: 1;
}

.w7-sportcard-large-players-item {
  text-align: left;
}

.w7-sportcard-large-teams-item-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 10;
}

.w7-sportcard-large-teams-item-name.first {
  text-align: left;
}

.w7-sportcard-large-teams-item-name.second {
  text-align: right;
}


.w7-sportcard-large-teams-item-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.w7-sportcard-large-players-item {
  flex: 1;
  flex-direction: column;
}

.w7-sportcard-large-players-item:nth-child(2) {
  text-align: right;
}

.w7-sportcard-large-players-item {
  line-height: 22px;
}

.w7-sportcard-large-players-item-first-name {
  font-weight: 300;
  font-size: 14px;
}

.w7-sportcard-large-players-item-last-name {
  font-weight: 500;
  font-size: 24px;
}

.w7-sportcard-large-daily {
  position: absolute;
  right: 0px;
  z-index: 99;
  font-size: 12px;
  font-weight: 600;

  background: linear-gradient(94.15deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 96.87%, rgba(255, 255, 255, 0) 100%);
  border-radius: 6px;

  color: #ffffff;
  padding: 5px 15px;
}

@media only screen and (max-width: 500px) {

  /* small */
  .w7-sportcard--fade {
    height: 35% !important;
  }

  .w7-sportcard--small {
    height: 426px;
  }

  .w7-sportcard-event {}

  .w7-sportcard-event {
    position: relative;
    z-index: 101;
    display: flex;
    top: 0 !important;
    right: 0px !important;
  }

  .w7-sportcard-sum {
    position: relative;
    bottom: 0;
    right: 0;
  }

  .w7-sportcard-subparts {
    padding-left: 9px;
    padding-top: 16px;
  }

  .w7-sportcard-teams-item-logo>img {
    max-width: 42px;
  }


  .w7-sportcard-teams-item,
  .w7-sportcard-players-item {
    flex-direction: column;
    padding: 0px 20px;

  }

  .w7-sportcard-teams-item:nth-child(2) .w7-sportcard-teams-item-name {
    order: 2;
    text-align: right;
  }

  .w7-sportcard-teams-item:nth-child(2) .w7-sportcard-teams-item-logo {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
  }


  .w7-sportcard-background {
    min-height: 426px !important;
  }

}

@media only screen and (max-width: 765px) {
  .w7-sportcard--fade {
    height: 100%;
    position: absolute !important;
    bottom: 0px !important;
  }

  .w7-sportcard--large .w7-sportcard-background {
    min-height: 580px !important;
  }

  /* large */
  .w7-sportcard--large {
    min-height: 580px !important;
  }

  .w7-sportcard-large-content-sum {
    margin-top: 20px !important;
  }

  .w7-sportcard-large-content-event-datas>div:nth-child(2) {
    height: 20px !important;
  }

  .w7-sportcard-large-content {
    height: 100%;
    width: 100%;
    left: 0px;
    top: 20px;
    justify-content: flex-start;
  }

  .w7-sportcard-large-content-teams,
  .w7-sportcard-large-content-players {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 50px;
  }

  .w7-sportcard-large-teams-item-logo>img {
    max-width: 42px;
  }

  .w7-sportcard-large-teams-item,
  .w7-sportcard-large-players-item {
    flex-direction: column;
    padding: 0px 20px;

  }

  .w7-sportcard-large-teams-item:nth-child(2) .w7-sportcard-large-teams-item-name {
    order: 2;
  }

  .w7-sportcard-large-teams-item:nth-child(2) .w7-sportcard-large-teams-item-logo {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
  }

  .w7-sportcard-large-daily {
    position: relative;
    right: 0px;
    z-index: 100;
    padding: 5px 15px;
    margin: 0px 15px 20px;
  }

}