@import 'icomoon.css';
@import "react-toastify/dist/ReactToastify.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
  }
}

.blue-linear-gradient {
  background: linear-gradient(135deg, rgba(34, 194, 204, 0.5) 5.2%, rgba(201, 0, 255, 0.5) 100%);
}

.grey-linear-gradient {
  background: linear-gradient(123.16deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
}