.progress-bar {
  @apply bg-white w-full rounded-md h-[14px] relative;

  .sub-progress {
  @apply bg-white rounded-md h-[14px] absolute z-[1];
  background: linear-gradient(135deg, rgba(68, 135, 207, 0.5) 0%, rgba(158, 67, 238, 0.5) 100%);
  }
  .current-progress {
  @apply bg-white rounded-md h-[14px] absolute z-[2];
  background: linear-gradient(135deg, #4487CF 0%, #9E43EE 100%);
  }
}

.gradient-text {
 color: rgba(158, 67, 238, 1);
}

@media only screen and (max-width: 1346px) {
  .side-content, .images-content {
    display: none;
  }
  .players-container{
    @apply flex;
  } 
  .players-holder{
    @apply justify-center;
  } 

  .challenge-container {
    height: 400px !important;
  }

  .challenge-container .mobile-center-content .player-image-secondary {
    max-height: 70% !important;
    align-self: end;
  }

  .challenge-mobile-part {
    display: flex;
  }

  .challenge-mobile-center-content {
    display: flex !important;
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1346.9px) {
  .players-holder {
    @apply absolute  h-full ;
  } 

  .challenge-mobile-part {
    display: none;
  }
  .challenge-mobile-center-content {
    display: none !important;
  }
  
}

