.bet-row {
  @apply bg-rgba-grey-007 rounded-[6px] p-[16px];

  &__title {
    @apply flex;
  }

  &__content {
    @apply flex flex-col xl:flex-row w-full text-rgba-grey-06;

    .left-side, .right-side {
      @apply flex;
    }

    .right-side {
      @apply order-1 xl:order-2;
    }

    .left-side {
      @apply order-2 xl:order-1;
    }
    div {
    }

  }
}

.blue-scheme {
  background: linear-gradient(135deg, #22c2cc6b 5.2%, #c900ff61 100%);
}

.green-scheme {
  background: linear-gradient(135deg, #CCFF0261 5.2%, #00FFE061 100%);
}

.yellow-scheme {
  background: linear-gradient(135deg, #d1bc0161 5.2%, #0b081261 100%);
}

.orange-scheme {
  background: linear-gradient(135deg, #cb412261 5.2%, #0b081261 100%);
}

.purple-scheme {
  background: linear-gradient(135deg, #0395e961 5.2%, #95000061 100%);
}

.red-scheme {
  background: linear-gradient(135deg, #cd000061 5.2%, #0b081261 100%);
}
